body {
    background: #2de27e;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #4daceb, #2de27e);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #4daceb, #2de27e); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  
}
.btn{
  background: lightgreen;
  background: -webkit-linear-gradient(to right, turquoise, lightgreen);
  background: linear-gradient(to right,turquoise ,lightgreen);
}
.navbar{
  background: darkgreen;
  background: -webkit-linear-gradient(to right, darkblue, darkgreen);
  background: linear-gradient(to right, darkblue,darkgreen);
}
.nav-link,.navbar-brand{
  color: rgb(3, 116, 131);
}
table{
  width: 100%;
  margin: auto;
  margin-bottom: 2%; 
  line-height: 100%;
  font:normal 100% sans-serif;
  text-align: center;
  color:black;
  background: lightgreen;
  border: 1px solid white;
  background: -webkit-linear-gradient(to right, lightblue, lightgreen);
  background: linear-gradient(to right,lightblue ,lightgreen);
}
thead{
  height: 25px;
  font-family: 'Times New Roman', Times, serif;
  color:white;
  text-align: center;
  background: darkgreen;
  background: -webkit-linear-gradient(to right, blue, green);
  background: linear-gradient(to right, blue,green);
  border: 1px solid white;
}
td{
  height: 25px;
  border:1px solid white;
}
#tablacomprobacion{
  margin-bottom: 4%;
  width: 90%;
  height: 599px;
}
#cabezatablacom{
  font-size: x-large;
  height: 6.25%;
}
.tdcompro{
  height: 6.25%;
}
.tderror{
  background-color: red; color: white;
}
#tdcahora{
  width: 6%;
}
.tdcacompro{
  border-left: 1px solid white;
  width: 18%;
}
