{% extends "layout.html" %}
{% block body %}
<div class="row">
    <div class="col-md-5" style="margin-bottom: 2%;">
      {% with messages = get_flashed_messages()  %}
      {% if messages %}
      {% for message in messages %}
      <div class="alert alert-success alert-dismissible fade show" role="alert">
        {{ message }}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div> 
      {% endfor %}
      {% endif %}
      {% endwith %}
      <div class="card card-body">
        <form action="{{url_for('add_contact')}}" method="POST">
          <div class="form-group">
            <input type="text" class="form-control" name="curso" placeholder="Ingrese un curso" required>
          </div>
          <div class="form-group">
            <select name="dia" class="form-control">
              <option value="Lunes">Lunes</option>
              <option value="Martes" >Martes</option>
              <option value="Miercoles">Miercoles</option>
              <option value="Jueves">Jueves</option>
              <option value="Viernes">Viernes</option>
            </select>
          </div>
          <div class="form-group">
            </label>Hora de inicio: </label> <br/>
            <select name="hora_inicio" class="form-control">
              <option value="0">7:00</option>
              <option value="1">7:50</option>
              <option value="2">8:50</option>
              <option value="3">9:40</option>
              <option value="4">10:40</option>
              <option value="5">11:30</option>
              <option value="6">12:20</option>
              <option value="7">13:10</option>
              <option value="8">14:00</option>
              <option value="9">14:50</option>
              <option value="10">15:50</option>
              <option value="11">16:40</option>
              <option value="12">17:40</option>
              <option value="13">18:30</option>
              <option value="14">19:30</option>
            </select>
          </div>
          <div class="form-group">
            </label>Hora final: </label> <br/>
            <select name="hora_final" class="form-control">
              <option value="0">7:50</option>
              <option value="1">8:40</option>
              <option value="2">9:40</option>
              <option value="3">10:30</option>
              <option value="4">11:30</option>
              <option value="5">12:20</option>
              <option value="6">13:10</option>
              <option value="7">14:00</option>
              <option value="8">14:50</option>
              <option value="9">15:40</option>
              <option value="10">16:40</option>
              <option value="11">17:30</option>
              <option value="12">18:30</option>
              <option value="13">19:20</option>
              <option value="14">20:20</option>
            </select>
          </div>
        <div class="form-group">
          <input type="text" class="form-control" name="profesor" placeholder="Ingrese el nombre del profesor" required>
        </div>
        <div class="form-group">
          <label for="grupo">
          </label>Grupo: </label> <br/>
            <select name="grupo" class="form-control">
              <option value="A">A</option>
              <option value="B">B</option>
              <option value="C">C</option>
            </select>
        </div>
        <button type="submit" class="btn btn-block">
          Guardar
        </button>
        </form>
      </div>
    </div>
    <div class="col-md-7">
      <table>
        <thead>
          <tr>
            <td>Curso</td>
            <td>Dia(s)</td>
            <td>Hora de inicio</td>
            <td>Hora de fin</td>
            <td>Profesor(a)</td>
            <td>Grupo</td>
            <!--Esta fila siguiente es para colocar los botones de eliminar-->
            <td>Opciones</td>
          </tr>
        </thead>
        <tbody><!--con tbody llenaremos los elementos que vienen de la base de datos,pero antes haremos la consulta desde el App.py-->
          {% for horario in horarios %}
          <tr>
              <td>{{horario['curso']}}</td><!--esto me ayuda a mostrar el primer valro de la columna de cada seccion curso horario ,etc mostrandome los datos almacenados-->
              <td>{{horario['dia']}}</td>
              <td>{{horario['hora_inicio']}}</td>
              <td>{{horario['hora_final']}}</td>
              <td>{{horario['profesor']}}</td>
              <td>{{horario['grupo']}}</td>
              <td><!--estos seran botones que luciran como enlaces para editar o eliminar -->
                  <a href="/delete/{{horario['id']}}">Eliminar</a>
              </td>
          </tr>
          {% endfor%}
        </tbody>
      </table>
      <a href="/comprobacion">
      <button  style="top: 74.7%" type="submit" class="btn btn-block">
        ARMAR HORARIO 
      </button>
    </div>
  </div>
</div>

{% endblock %}
